.layout-bar {
  /* background: linear-gradient(to top, #313131, #ffffff);
  background-blend-mode: multiply; */
  /* filter: grayscale(100%); */

  /* background-color: #9ab7f1; */

  overflow: hidden;
  float: left;
  height: 100vmin;
  width: 300px;
  padding-top: 15px;

  transition: all ease 0.25s;
  /* transition: width 0.25s linear; */
}

.layout-bar-search {
  padding: 0px 15px 10px 30px;
}

.layout-bar-list {
  padding: 15px 15px 15px 30px;
}

.layout-bar-list > div {
  padding: 3px 0px 3px 0px;
}

.layout-bar-button {
  height: 50px;
  /* position: relative; */
  z-index: 2;
  position: absolute;
}

.layout-bar-button > button {
  background: transparent none !important;
  transition: all ease 0.25s;
}

.layout-main .lay-content {
  width: calc(100% - 300px);
}

.layout-main {
  /* background-color: #282c34; */
  float: right;
  height: 100vh;
  // overflow-y: scroll;

  /* transition: width 0.25s linear; */
}

.lay-content {
  z-index: 1;
  height: 100%;
  position: absolute;
  transition: width 0.25s linear;
}
