.lay-topScrollBut {
  transition: all ease 0.25s;
  // font-size: 1em;
  // opacity: 0.5;

  position: fixed;
  z-index: 3;
  right: 0px;
  bottom: 0px;
  margin: 35px;
  // opacity: 0;

  background: transparent none !important;

  // & :hover {
  //   font-size: 1.4em;
  //   opacity: 1;
  // }
}

.layout-bar {
  // background-color: #9ab7f1;

  /* background: linear-gradient(to top, #313131, #ffffff);
  background-blend-mode: multiply; */
  /* filter: grayscale(100%); */
  overflow: hidden;
  float: left;
  height: 100vmin;
  width: 300px;
  padding-top: 15px;
  transition: all ease 0.25s;

  background: transparent none !important;
  /* transition: width 0.25s linear; */

  &-search {
    padding: 0px 15px 10px 30px;
  }
  &-list {
    padding: 15px 15px 15px 30px;
  }

  &-list > div {
    padding: 3px 0px 3px 0px;
  }

  &-button {
    // background-color: #9ab7f1;
    z-index: 3;
    position: absolute;
    transition: all ease 0.25s;
    opacity: 0.5;

    margin: 20px 5px 5px 15px;
    left: 300px;
    height: 50px;
  }

  &-button:hover {
    font-size: 1.1em;
    opacity: 1;
  }
}

// .layout-main .lay-main-content {
//   // width: calc(100% - 300px);
// }

.layout-main {
  float: right;
  // height: 100vh;
}

.lay-main-content {
  z-index: 1;
  position: absolute;
  transition: width 0.25s linear;

  // height: 100%;
}
