.layout-bar {
  // background-color: #9ab7f1;

  /* background: linear-gradient(to top, #313131, #ffffff);
  background-blend-mode: multiply; */
  /* filter: grayscale(100%); */
  overflow: hidden;
  float: left;
  height: 100vmin;
  width: 300px;
  padding-top: 15px;
  transition: all ease 0.25s;
  /* transition: width 0.25s linear; */

  &-search {
    padding: 0px 15px 10px 30px;
  }
  &-list {
    padding: 15px 15px 15px 30px;
  }

  &-list > div {
    padding: 3px 0px 3px 0px;
  }

  &-button {
    // background-color: #9ab7f1;

    z-index: 3;
    position: absolute;
    transition: all ease 0.25s;

    margin: 5px 5px 5px 0px;
    left: 300px;
    height: 50px;

    & > button {
      background: transparent none !important;
      transition: all ease 0.25s;
    }
  }
}

.layout-main .lay-main-content {
  width: calc(100% - 300px);
}

.layout-main {
  float: right;
  height: 100vh;

  /* transition: width 0.25s linear; */
}

.lay-main-content {
  z-index: 1;
  position: absolute;

  height: 100%;
  transition: width 0.25s linear;
}

.lay-main-topBut {
  position: fixed;
  z-index: 3;
  right: 0px;
  bottom: 0px;
  margin: 35px;

  background: transparent none !important;
}
